li {
    list-style: none;
}
.NoOpenButtonPadding {
    padding-left: 16px;
}
.SelectButton {
    width: 14px;
    background: transparent;
    border: none;
    outline: none;
    margin: 2px;
    padding: 0;
    cursor: pointer;
}
.ExpandButton {
    width: 14px;
    background: transparent;
    border: none;
    outline: none;
    margin: 2px;
    padding: 0;
}