.react-tree-view li {
    list-style: none;
}
.react-tree-view .icon {
    display: inline-block;
    padding-right: 4px;
    width: calc(1em + 4px);
}
.react-tree-view i.icon {
    text-align: center;
}
.react-tree-view .selectable {
    cursor: pointer;
}
