li {
    list-style: none;
}
.NoOpenButton {
    margin-left: 18px;
}
.Icon {
    padding: 2px 4px;
    margin-right: 2px;
    box-sizing: border-box;
    margin-top: 2px;
}
.NodeIconImage {
    width: 14px;
    height: auto;
    margin: 0 4px -1px;
}
.Selectable {
    cursor: pointer;
}