li {
    list-style: none;
}
.NoOpenButton {
    margin-left: 18px;
}
.Icon {
    width: 14px;
    margin: 2px;
}
.NodeIconImage {
    width: 14px;
    height: auto;
    margin: 0 4px -1px;
}
.Selectable {
    cursor: pointer;
}